@model ProjetCovoiturage.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Account.Register;
}
<h2>@ProjetCovoiturage.Resources.Views.Account.Register</h2>
<h3>Associer votre compte @ViewBag.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>@ProjetCovoiturage.Resources.Views.Account.AssociationForm</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        @ProjetCovoiturage.Resources.Views.Account.AuthentificationSucces <strong>@ViewBag.LoginProvider</strong>.
        @ProjetCovoiturage.Resources.Views.Account.AuthentificationMessage
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="S’inscrire" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
