@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ProjetCovoiturage.Resources.Views.Home.HomeTitle</h1>
    <p class="lead">@ProjetCovoiturage.Resources.Views.Home.Description</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">@ProjetCovoiturage.Resources.Views.Home.More &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@ProjetCovoiturage.Resources.Views.Home.Start</h2>
        <p>@ProjetCovoiturage.Resources.Views.Home.MoreDescription</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">@ProjetCovoiturage.Resources.Views.Home.More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@ProjetCovoiturage.Resources.Views.Home.MoreLibrarie</h2>
        <p>@ProjetCovoiturage.Resources.Views.Home.DescriptionLibrarie</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">@ProjetCovoiturage.Resources.Views.Home.More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@ProjetCovoiturage.Resources.Views.Home.WebHosting</h2>
        <p>@ProjetCovoiturage.Resources.Views.Home.WebDescription</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">@ProjetCovoiturage.Resources.Views.Home.More &raquo;</a></p>
    </div>
</div>