@model ProjetCovoiturage.Models.NotesChauffeurs

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NotesChauffeurs</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.chauffeurId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chauffeurId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chauffeurId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.notePonctualitée, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notePonctualitée, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notePonctualitée, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.noteSecuritée, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.noteSecuritée, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.noteSecuritée, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.noteConfort, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.noteConfort, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.noteConfort, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.noteCourtoisie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.noteCourtoisie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.noteCourtoisie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.noteFiabilitée, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.noteFiabilitée, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.noteFiabilitée, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
