@model ProjetCovoiturage.Models.IndexViewModel
@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Manage.ManagePage;
}

<h2>@ProjetCovoiturage.Resources.Views.Manage.ManagePage</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@ProjetCovoiturage.Resources.Views.Manage.ChangeAccountParameters</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@ProjetCovoiturage.Resources.Views.Manage.Password</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(ProjetCovoiturage.Resources.Views.Manage.ChangePasswd, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(ProjetCovoiturage.Resources.Views.Manage.Create, "SetPassword")
            }
            ]
        </dd>
        <dt>@ProjetCovoiturage.Resources.Views.Manage.ExterneConnection</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink(ProjetCovoiturage.Resources.Views.Manage.ManagePage, "ManageLogins") ]
        </dd>
        @*
            Les numéros de téléphone peuvent être utilisés comme second facteur de vérification dans un système d'authentification à 2 facteurs.
             
             Consultez <a href="https://go.microsoft.com/fwlink/?LinkId=403804">cet article</a>
                pour plus de détails sur la configuration de cette application ASP.NET afin qu'elle prenne en charge l'utilisation de l'authentification à 2 facteurs à l'aide de SMS.
             
             Décommentez le bloc suivant après avoir configuré l'authentification à 2 facteurs
        *@
        @*  
            <dt>Numéro de téléphone :</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Supprimer" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt>@ProjetCovoiturage.Resources.Views.Manage.Authentification</dt>
        <dd>
            <p>
                @ProjetCovoiturage.Resources.Views.Manage.NoneAuthentification <a href="https://go.microsoft.com/fwlink/?LinkId=403804">@ProjetCovoiturage.Resources.Views.Manage.thisArticle</a>
                @ProjetCovoiturage.Resources.Views.Manage.NoneAuthentification2
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Activé
                        <input type="submit" value="Désactiver" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Désactivé
                        <input type="submit" value="Activer" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
