@model ProjetCovoiturage.Models.Trajet

@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Trajet.Delete;
}

<h2>@ProjetCovoiturage.Resources.Views.Trajet.Delete</h2>

<h3>@ProjetCovoiturage.Resources.Views.Trajet.DeleteMessage</h3>
<div>
    <h4>@ProjetCovoiturage.Resources.Views.Trajet.Ride</h4>
    <p>@ViewBag.error</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VilleDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointArrivee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointArrivee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VilleDestination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleDestination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureArrivee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureArrivee)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@ProjetCovoiturage.Resources.Views.Trajet.Delete" class="btn btn-default" /> |
            @Html.ActionLink(ProjetCovoiturage.Resources.Views.Trajet.Back, "Index")
        </div>
    }
</div>
