@model ProjetCovoiturage.Models.Trajet

@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Trajet.Details;
}

<h2>@ProjetCovoiturage.Resources.Views.Trajet.Details</h2>

<div>
    <h4>@ProjetCovoiturage.Resources.Views.Trajet.Ride</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VilleDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointArrivee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointArrivee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VilleDestination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleDestination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureArrivee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureArrivee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(ProjetCovoiturage.Resources.Views.Trajet.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(ProjetCovoiturage.Resources.Views.Trajet.Back, "Index")
</p>
