@model ProjetCovoiturage.ViewModels.VMChauffeurDeTrajet

@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Trajet.DriverRide;
    int? idTraj = ViewBag.idTrajet;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>@ProjetCovoiturage.Resources.Views.Trajet.DriverRide</h2>

<div>
    <h4>@ProjetCovoiturage.Resources.Views.Trajet.DriverRide</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h2>@ProjetCovoiturage.Resources.Views.Trajet.Driver</h2>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nbTrajets):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nbTrajets)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nbKilometres):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nbKilometres)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.moyennePonctualite):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.moyennePonctualite)
                    @if (Model.moyennePonctualite > 0)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyennePonctualite > 1)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyennePonctualite > 2)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyennePonctualite > 3)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyennePonctualite > 4)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                </dd>
                <dt>

                    @Html.DisplayNameFor(model => model.moyenneSecurite):

                </dt>

                <dd>
                    @Html.DisplayFor(model => model.moyenneSecurite)
                    @if (Model.moyenneSecurite > 0)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneSecurite > 1)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneSecurite > 2)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneSecurite > 3)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneSecurite > 4)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.moyenneConfort):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.moyenneConfort)
                    @if (Model.moyenneConfort > 0)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneConfort > 1)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneConfort > 2)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneConfort > 3)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneConfort > 4)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.moyenneCourtoisie):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.moyenneCourtoisie)
                    @if (Model.moyenneCourtoisie > 0)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneCourtoisie > 1)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneCourtoisie > 2)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneCourtoisie > 3)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneCourtoisie > 4)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.moyenneFiabilite):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.moyenneFiabilite)
                    @if (Model.moyenneFiabilite > 0)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneFiabilite > 1)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneFiabilite > 2)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneFiabilite > 3)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}

                    @if (Model.moyenneFiabilite > 4)
                    {<span class="fa fa-star  checked  "></span>}
                    else
                    {<span class="fa fa-star"></span>}
                </dd>

            </dl>
        </div>

        <div class="col-md-6">
            <h2>@ProjetCovoiturage.Resources.Views.Trajet.Ride</h2>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.VilleDepart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VilleDepart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PointDepart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PointDepart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PointArrivee)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PointArrivee)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.VilleDestination)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VilleDestination)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HeureDepart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HeureDepart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HeureArrivee)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HeureArrivee)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NbPassagers)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NbPassagers)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Kilometrage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kilometrage)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Prix)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Prix)
                </dd>

            </dl>
        </div>



        @if (Model.Chauffeur.Public == true)
        {
            <div class="col-md-6">
                <h2>@ProjetCovoiturage.Resources.Views.Trajet.Infos</h2>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Chauffeur.Prenom)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Chauffeur.Prenom)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Chauffeur.Nom)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Chauffeur.Nom)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Chauffeur.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Chauffeur.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Chauffeur.NumeroTelephone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Chauffeur.NumeroTelephone)
                    </dd>

                </dl>
            </div>
        }
        else
        {
            <p>@ProjetCovoiturage.Resources.Views.Trajet.ConfidentialInfos</p>
        }
    </div>
    <button>
        @Html.ActionLink(ProjetCovoiturage.Resources.Views.Trajet.Book, "ReserverPlace", new { trajetID = ViewBag.idTrajet })
        @ViewBag.idTrajet
    </button>
    <button>
        @Html.ActionLink(ProjetCovoiturage.Resources.Views.Trajet.Cancel, "CancellerReservation", new { trajetID = ViewBag.idTrajet })
    </button>
    @ViewBag.Message
    <p>
        @Html.ActionLink(ProjetCovoiturage.Resources.Views.Trajet.Back, "FiltreTrajets")
    </p>

